{% extends "base.html" %}

{% block content %}
		<main>
			<div class="md-content">
				
			<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" >
						<div class="slider__item" style="background-image: url('/static/resources/bestseller.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>Black <span class="amp">&amp;</span> White</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				
				
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<h2 align="center"> Black <span class="amp">&amp;</span> White Tea Box</h2>
							<p style="font-size: large;">Explore this beautiful hand crafted collection of tea sets. These tea sets graciously compliment each other and provide a intoxicating experience of wonder with each sip.
					    </p>
					 	<p style="font-size: large;"><b>Recommeded for high-end gift   120g / $230 Box</b></p>								
					</div>
				</section>
				<!-- End / Section -->
			
			
				
	
				<!-- Section -->								
			</div>
		</main>
			<!-- End / Content-->
{% endblock content %}
