{% extends "base.html" %}

{% block content %}
<main>
			<!-- Content-->
			<div class="md-content">
				
			<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" >
						<div class="slider__item" style="background-image: url('/static/resources/black.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2><i>Black Tea</i></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<h2 align="center"> Yunnan Gold Black Tea</h2>
							<p style="font-size: large;">
							If you find Lapsang Souchong too sweet or the Keemun black teas too intense, then go for our soft, savory Yunnan Gold with delicate honey and caramel aroma. It brews a wonderful yellow-orange and bright cup of tea that will light up your day. Our Yunnan Gold almost consists of pure golden buds and is the highest grade you can get at a yet <b>affordable price. 35g / $20</b>
					    </p>
						<p><img src="resources/yunnanblack.jpg" alt=""/ class="img-thumbnail"></p>
					<h2 align="center">Jin Jun Mei (Black Tea Queen) 金骏眉</h2>
					<h3 align="center">Product Description </h3>
					<p style="font-size: large;">
							If you find Lapsang Souchong too sweet or the Keemun black teas too intense, then go for our soft, savory Yunnan Gold with delicate honey and caramel aroma. It brews a wonderful yellow-orange and bright cup of tea that will light up your day. Our Yunnan Gold almost consists of pure golden buds and is the highest grade you can get at a yet affordable price. 35g / $20
					    </p>
					 <p style="font-size: large;">
					In China and in the world,Jin Jun Mei tea is viewed as one of the most prestigious of all teas. It is only produced in Fujian, China, Mylovetea Dr. Tea`s hometown. Jin Jun Mei takes only the wild species tea bud tip grown at the top of the Bohea mountain as the raw material.It is made by using Lapsang Souchong  traditional craftsmanship and innovative technology. 500 grams of Jin Jun Mei requires about 70,000 hand-picked fine buds.The tea buds are subsequently fully oxidised to giving a tea that has a sweet, fruity and flowery flavour with a long lasting sweet after-taste. The brew is bright reddish in colour. The high cost, low production, the precious raw materials and the unique taste make Jin Jun Mei was born to be a very precious tea and was called the “King of the world Black Tea”.
					</p>
					<h2 align="center">The Specific Benefits of Jin Jun Mei	</h2>
					<p style="font-size: large;"> Jin Jun Mei is a fully fermented tea. Fermentation promotes the oxidization of polyphenols, which will produce thearubigin and theaflavin. They are the key factors that form the color and flavor of Jin Jun Mei. Thearubigin exists in Jin Jun Mei  is a golden pigment produced in fermentation. Beside of adjusting the color of tea liquid, thearubigin has many health benefits. It can combine with cholesterol in stomach and intestines, and reduce the amount of cholesterol absorbed from food. <b>Thus Jin Jun Mei is helpful for protecting heart from hyperlipidemia and heart disease without side-effects. Besides, tea polyphenols in Jin Jun Mei can protect your liver.</b></p>
					<p style="font-size: large;">
					More information about the Health Benefits of tea can be found in Mylovetea Dr. Tea`s international peer-review paper “Tea and Cancer Prevention” that will be published April, 2015 on Journal of Cancer Research Updates.</p>
					<p style="font-size: large;"><b>Recommeded for high-end gift   100g / $160 Box</b></p>
					</div>
				</section>
				<!-- End / Section -->
			
			
				
	
		
				
				<!-- Our partner-->
				
				<!-- Section -->
				
				
			</div>
			<!-- End / Content-->		
</main>


{% endblock content %}