{% extends "base.html" %}

{% block content %}
<main>

			<div class="md-content">
					<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" >
						<div class="slider__item" style="background-image: url('/static/resources/about.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>We create spaces where the classic Tea experience and soulful feel of the neighbourhood meet</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				


				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Contact Details</h2>
							
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-email"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Email</h2>
										<div class="iconbox__description"><a href="mailto:#">royalteastudio7@gmail.com</a></div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-location-pin"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Location</a></h2>
										<div class="iconbox__description">1308 Hornby Street. Vancouver BC</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-mobile"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">hotline</a></h2>
										<div class="iconbox__description">+1-202-555-0192</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						
			</section>
				
			</div>
			<!-- End / Content-->
</main>


{% endblock content %}