{% extends "base.html" %}

{% block content %}

<main>
    <div class="md-content">
        
        <!-- slider -->
        <div class="slider">
          
          <!-- carousel__element owl-carousel -->
          <div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 3000}'>
            <div class="slider__item" style="background-image: url('/static/resources/123.jpg'); background-repeat: no-repeat; background-size: cover;">
              <div class="md-tb">
                <div class="md-tb__cell">
                  <div class="slider__content">
                    <div class="container">
                      <h2>Welcome to SimpliciTea </h2>
                      <h3 style="color:white;">Sourcing and serving tea that we love.</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </div><!-- End / carousel__element owl-carousel -->
          
        </div><!-- End / slider -->
        
        <!-- Service-->
        
        <!-- Section -->
        
        
        
        <!-- Section -->
        <section class="md-section" style="background-color:#f7f7f7;">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">
                
                <!-- iconbox -->
                <div class="iconbox">
                  <div>
                    <h2 ><a href="#">Shop Our</a></h2>
                    <h4 ><i>Delicious tea delivered to your door</i></h4>
                  </div>
                </div><!-- End / iconbox -->
                
              </div>
            </div>
      


            <div class="row">
            
                <div class="col-md-3 col-lg-3 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/FUDING.jpg"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">Fuding White Tea</a></h2>
                      <div class="textbox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque lu</div>
                    </div>
                  </div><!-- End / textbox -->
                  
                </div>
                <div class="col-md-3 col-lg-3 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/GONGMEI.png"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">GongMei White Tea</a></h2>
                      <div class="textbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. </div>
                    </div>
                  </div><!-- End / textbox -->
                  
                </div>
                <div class="col-md-3 col-lg-3 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/YUNNAN.jpg"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">Yunnan White Tea</a></h2>
                      <div class="textbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
                    </div>
                  </div><!-- End / textbox -->
                  
                </div>
                  <div class="col-md-3 col-lg-3 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/YUNBLACK.jpg"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">Yunnan Black Tea</a></h2>
                      <div class="textbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
                    </div>
                  </div><!-- End / textbox -->
                  
                </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">
                
                <!-- iconbox -->
                <div class="iconbox">
                  <div>
                    <h2 ><a href="#">Or visit us to enjoy delicious drinks</a></h2>
                    <h4 ><i>Stop by and see what's good</i></h4>
                  </div>
                </div><!-- End / iconbox -->
                
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-6 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/SIVERNEED.jpg"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">Silver Needle Tea</a></h2>
                      <div class="textbox__description">The Very Finest White Tea.Silver Needle tea contains antioxidants that help boost your immune system and build your defenses. Antioxidants present in this tea may also help to promote heart health by lowering bad cholesterol levels and strengthening your blood vessels.This tea may aid in preventing blood clots that are responsible for heart attacks and strokes, protecting heart tissue from potential damage.</div>
                    </div>
                  </div><!-- End / textbox -->
                  
              </div>
                <div class="col-md-6 col-lg-6 ">
                  
                  <!-- textbox -->
                  <div class="textbox">
                    <div class="textbox__image"><a href="#"><img src="/static/resources/YUNBLACK1.jpg"></a></div>
                    <div class="textbox__body">
                      <h2 class="textbox__title"><a href="#">Yunnan Black Tea</a></h2>
                      <div class="textbox__description">One of the most famous varieties of black teas comes from Yunnan, China where the teas are recognized for their unique cocoa, malty aroma and smoothnesst.The combination of caffeine and other substances in this tea get rid of toxics and decrease excessive amount of salt. The latter is often related to the hypertension. When consumed in moderation, it could also helps against heart diseases.Anti-inflammatory effect: polyphenols in black tea can reduce inflammation and infection.</div>
                    </div>
                  </div><!-- End / textbox -->
                  
              </div>
            </div>

          </div>
        </section>
        
        <section class="md-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 ">
                
                <!-- title-01 -->
                <div class="title-01 title-01__style-03 md-text-left">
                  <h6 class="title-01__subTitle">about</h6>
                  <h2 class="title-01__title">A few words about us</h2>
                  <p>The royalteastudio started from humble beginnings by selling just a few grams of tea, here and there, to friends and work colleagues from small batches. We started small. Since 2013, Royalteastudio has painstakingly compiled a great range of single origin, rare and obscure teas. Our teas are not only good, but they also come with passion and a wealth of knowledge, distilled from the experiences and discoveries Jing has gained over the years.. </p>
                </div><!-- End / title-01 -->
                
            
              </div>
              <div class="col-lg-6 ">
                <div class="js-consult-slider">
                  
                  <!-- carousel__element owl-carousel -->
                <iframe class="embed-video-iframe" type="text/html" src="http://www.youtube.com/embed/pkn_M_NAoz0" frameborder="0" allowfullscreen></iframe>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End / Section -->
        
        <!-- Contact us-->
        
        <!-- Section -->
        <section class="md-section md-skin-dark js-consult-form" style="background-image:url('/static/assets/img/backgrounds/1.jpg');">
          <div class="md-overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
                
                <!-- title-01 -->
                <div class="title-01 title-01__style-02">
                  <h2 class="title-01__title">Come visit us at Tea ReadingClub @</h2>
                
                </div><!-- End / title-01 -->
                
                <div class="consult-phone">(+1)604-441-9679</div>
              </div>
            </div>
            
            <!-- form-01 -->
            <div class="form-01 consult-form js-consult-form__content">
              <h2 class="form-01__title">Give Us Your Feedback</h2>
              <form class="form-01__form">
                <div class="form__item form__item--03">
                  <input type="text" name="name" placeholder="Your name"/>
                </div>
                <div class="form__item form__item--03">
                  <input type="text" name="phone" placeholder="Your Email"/>
                </div>
                <div class="form__item form__item--03">
                  <input type="email" name="email" placeholder="Your Email"/>
                </div>
                <div class="form__item">
                  <textarea rows="3" name="Your message" placeholder="Your message"></textarea>
                </div>
                <div class="form__button"><a class="btn btn-primary btn-w180" href="#">send message</a>
                </div>
              </form>
            </div><!-- End / form-01 -->
            
          </div>
        </section>
        <!-- End / Section -->
        
      
        
        <!-- Section -->
        <section class="md-section consult-background">
          <div class="container">
            <div class="row">
        
            </div>
            
            <!-- carousel__element owl-carousel -->
  
            
          </div>
        </section>
        <!-- End / Section -->
        
      </div>


      </main>
    

{% endblock content %}


