{% extends "base.html" %}

{% block content %}			
			<!-- Content-->
			<div class="md-content">
				
			<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" >
						<div class="slider__item" style="background-image: url('/static/resources/Jasmine.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>Sense of Jasmine Tea</p>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				
				
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<h2 align="center"> Jasmine Green Tea</h2>
							<p style="font-size: large;">Jasmine tea can help prevent against a variety of severe illnesses including heart disease, diabetes and cancer. Thanks to high concentrations of antioxidants and anti-inflammatory properties, jasmine tea can also help promote beautiful, healthy skin and boost your immune system.     35g / $20  
					    </p>
					 	<p><img src="/static/resources/jasmineGreen.jpg" alt=""/></p>
					
									
					</div>
				</section>
				<!-- End / Section -->
			
			
				
	
		
				
				<!-- Our partner-->
				
				<!-- Section -->
				
				
			</div>
			<!-- End / Content-->

{% endblock content %}			
	