{% extends "base.html" %}

{% block content %}

<main>
			<div class="md-content">
				
			<div class="slider">
					
					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" >
						<div class="slider__item" style="background-image: url('/static/resources/pure.jpg'); background-repeat: no-repeat; background-size: cover;">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>Pu're Tea</p>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div><!-- End / carousel__element owl-carousel -->
					
				</div><!-- End / slider -->
				
				
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<h2 align="center"> Promotes a Healthy Heart</h2>
							<p style="font-size: large;">By drinking one cup of pu-erh tea a day, you can help to lower your risk of heart disease while enjoying a delicious, The rats that received pu-erh tea had lower cholesterol and triglyceride levels, which are often associated with obesity. At the same time, pu-erh tea increased good cholesterol known as HDL cholesterol. Higher HDL cholesterol levels have been associated with a lower risk of heart disease 
					    </p>
					 	<p style="font-size: large; " align="center">Cleanses Toxins and Free Radicals</p>
					    <p style="font-size: large;" align="center">Pu-erh tea uses its oxidative. 
					    </p> 
					 	<p style="font-size: large;" align="center">Prevents Cancer Reduces Stress</p>
						<p style="font-size: large;" align="center">While pu-erh tea contains caffeine, that doesn't mean it'll make you wired or jittery. In fact, pu-erh tea can help to reduce stress and its inflammatory properties aid in relaxation when experiencing minor aches and pains.
						</p>
						<p style="font-size: large; " align="center" >
						Prevents Illness</p>
						<p style="font-size: large;" align="center">Since pu-erh tea is high in antioxidants and vitamin C, drinking a cup of this brew every day can help prevent illnesses such as the common cold and flu. </p>
					
									
					</div>
				</section>
				<!-- End / Section -->
				
				<!-- Section -->
				
				
			</div>
			<!-- End / Content-->
    
{% endblock content %}